* {
  margin: 0;
  box-sizing: border-box;
}

main {
  margin: 50px;
}
img {
  height: auto;
  width: 100%;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 50px;
}

.gallery img {
  display: grid;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 812px) {
  main {
    margin: 10px;
  }
}

@media (min-width: 813px) {
  h1 {
    font-size: 5rem;
  }
}

video {
  display: grid;
  justify-content: center;
  max-width: 100%;
  margin-top: 20px;
}

#video_section iframe {
  display: grid;
  justify-content: center;
  margin-top: 30px;
  min-width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

#cover {
  background-image: url(Billeder/Billede_7.jpg);
  background-size: cover;
  aspect-ratio: 16/9;
}

h1 {
  display: grid;
  place-content: center;
  color: white;
  aspect-ratio: 16/9;
}
